body{
  background-image: url(images/6.jpg);
  background-size: cover;
   
}
.clear{
    clear: both;
}
.nav-link{
    background-color:rgba(0,0,0,.0);
}
.logo{
    float: left;
    width: 15%;
}
.clear{
    clear: both;
}
.link{
    float: right;
}
.clear{
    clear: both;
}
.logo-img{
    width: 110px;
    height: 60px;
}
.link ul a{
    padding-left: 60px;
    text-decoration: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width:28% ;
    height: 10%;
    transition: 3s;
   
}

.cared{
    
    width: 100%;
    float: inline-start;
    
    
}
.clear{
    clear: both;
}
.cared-div0{
    background-image: url(images/3.webp);
    width: 20%;
    float: left; 
   margin-top: 50px;
   border-radius: 8px;
   margin-left: 65px;
   box-shadow: 5px 15px 30px rgba(0,0,0,.5);
}
.clear{
    clear: both;
}
.cared-div1{
    background-image: url(images/3.webp);
    width: 20%;
    float: left; 
    margin-top: 50px;
    border-radius: 8px;
    margin-left: 65px;
    box-shadow: 5px 15px 30px rgba(0,0,0,.5);
}
.clear{
    clear: both;
}
.cared-div2{
    background-image: url(images/3.webp);
    width: 20%;
    float: left;
    margin-top: 50px;
    border-radius: 8px;
    margin-left: 70px;
    box-shadow: 5px 15px 30px rgba(0,0,0,.5);
}
.clear{
    clear: both;
}
.cared-div3{
    background-image: url(images/3.webp);
    width: 20%;
    float: left;
    margin-top: 50px; 
    border-radius: 8px;
    margin-left: 65px;
    box-shadow: 5px 15px 30px rgba(0,0,0,.5);
}
.clear{
    clear: both;
}
.img-cared{
    width: 20%;
    height: 70px;
    margin: 30px 40px 0px 90px;
    border-radius: 50%;
}
h2{
    color:#fff;
    padding-left: 10px;
}
p{
    color: #fff;
    padding-left: 10px;
}





